/* custom Fonts - League Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   /* Typography */
   html {
      @apply font-['League_Spartan',sans-serif] 3xl:text-[1.2rem];
   }
   body {
      @apply text-secondary-ebonyClay bg-white;
   }
   button {
      @apply font-semibold text-[17px] uppercase tracking-[0.156rem];
   }
   h1 {
      @apply text-[32px] leading-10 tracking-tighter font-light 
      md:text-5xl xl:text-[80px] md:leading-snug xl:leading-none;
   }
   h2 {
      @apply text-[32px] md:text-5xl leading-10 tracking-tighter font-bold;
   }
   h3 {
      @apply text-xl font-bold tracking-tight;
   }
   p {
      @apply text-base font-normal md:text-xl md:leading-normal;
   }
   /* Reset */
   a {
      @apply inline-block;
   }
   [hidden] {
      @apply !hidden;
   }
}
@layer components {
   .pattern-divide {
      @apply pt-9 md:pt-10 xl:pt-14 relative before:absolute before:top-0 
      before:left-0 before:w-full before:h-2 before:bg-pattern-divide 
      before:bg-no-repeat before:bg-center xl:before:bg-left;
   }
}
@layer utilities {
   .flex-center {
      @apply flex items-center justify-center;
   }
}
